language: java
jdk:
  - oraclejdk8

services:
  - mysql
  
before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('123') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS ponto_inteligente;'

